
<p id="notice"><%= notice %></p>
<div class="show-container">
  <div class="home-container">
    <h3><%= current_user.first_name %>'s Profile</h3>

    <% if @user.profile_image %>
     
        <%= image_tag(@user.profile_image, width:"200") %>
     
    <% end %>

    <p>
      <%= @user.bio %>
    </p>

    <p><%= @user.email %></p>
    
      <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-warning" %> 
      <%= link_to 'Destroy', user_path(@user), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Back', users_path, class:"btn btn-info"  %>
  </div>
</div>