<p id="notice"><%= notice %></p>
<div class="show-container">
  <div class="home-container">

    <h2><strong><%= @post.title %></strong></h2>
    
    <% if @post.image_link %>
     <%= image_tag(@post.image_link, width:"200") %>
    <% end %>
    
    <p><strong>Content: </strong><%= @post.content %></p>

    <p><strong>Premium: </strong><%= @post.premium %></p>
    <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-warning" %> 
    <%= link_to 'Destroy', @post, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
</div>