<p id="notice"><%= notice %></p>

<div class="show-container">
  <div class="show-header">
    <div class="show-left">
      <h2><strong><%= @post.title %></strong></h2>
    </div>
    <div class="show-right">
    <% if current_user.admin %>
      <p class="show-right-el"><strong>Premium: </strong><%= @post.premium %></p>
      <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-warning" %>
     <%= link_to 'Destroy', @post, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
  </div>
  <% if @post.image_link %>
    <%= image_tag(@post.image_link, width:"980") %>
  <% end %>
  <p><strong>Content: </strong><%= @post.content %></p>
</div>